*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.top{
    width: 1440px;
    height: 1080px;
    background: no-repeat  url("images/top-back1-04.png");
    background-size: cover;
    background-color:#FFFDED;
}

.top-material{
   padding: 120px;
   display:flex;
   flex-flow: column;
   justify-content: center;
}

.top-material-img1{
    display:flex;
    justify-content: center;
    padding-top: 200px;
    

}

.top-material-img1 img{
    width: 75%;
    height: 50%;
  
}

.top-material p{
    text-align: center;
    font-size: 30px;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #350D00;
    padding-top: 10px;
}

.top-material-img2{ 
  
    display:flex;
    justify-content: center;
  

}

.top-material-img2 img{
    width: 90%;

}

.poem{
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 800px;
    background-image:  url("images/poem.background.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-color:#FFFDED;
    background-position: 200px 0px;
    position: relative;
   
   

}

.poem-img1 {
position: absolute;
top: 30px;
left: 150px;
}

.poem-img1 img{
  width:200px;
}


.TextTyping {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
    letter-spacing: .5em;
    word-break : break-all;
    font-size: 20px;
    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #350D00;
    line-height: 3em;
    padding-top: 20px;

  }
  
  /*========= タイピング ===============*/
  
  .TextTyping span {
    display: none;
  }
  
  /*文字列後ろの線の設定*/
  .TextTyping::after {
    content: "|";
    animation: typinganime .8s ease infinite;
  }
  
  @keyframes typinganime{
    from{opacity:0}
    to{opacity:1}
  }

.poem-img2{
    position: absolute;
    bottom: 30px;
    right:150px

}


.poem-img2 img{
    width:200px;
   
  }

.about{
 background-color:#FFFDED;
 padding-bottom: 40px;
 background-image: url(images/about-whole-bg-07.png);
 background-size: cover;
 background-repeat: no-repeat;
 

}
.about h1{
   text-align: left;
   font-family: 'Modak',cursive;
   font-size: 140px;
   color: #F1883D;
   opacity: 70%;
   padding-top: 0px;
   font-weight: normal;
   
}

.about h3{
    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #F1883D;
    font-size: 24px;
    

}


.about h2{

    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #350D00;
    font-size: 40px;
    padding-top: 20px;
}

.about p{
  
    font-size: 16px;
    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #350D00;
    line-height: 2em;
    padding-top: 20px;
}

.about-bottom{
    padding: 40px 320px;
    
}

.about-bottom hr{
    display: none;
}

.about-bottom h3{
    text-align: left;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #350D00;
    font-size: 30px;
    
}

.about-bottom p{
    text-align: left;
    float: left;
    width:600px;
 
}

.about-bottom img{
    width:15%;
    padding-left: 40px;
  
}

.about-bottom-right{
    padding-top: 80px;
}

.how{
    background-color:#FFFDED;
    padding-bottom: 100px;
}

.how h1{
    text-align: left;
    font-family: 'Modak', cursive;
    font-size: 160px;
    color: #F1883D;
    opacity: 70%;
    padding-top: 0px;
    font-weight: normal;
   
    
 }
 
 .how h3{
     text-align: center;
     font-family: 'Zen Maru Gothic', sans-serif;
     color: #F1883D;
     font-size: 24px;
     
 
 }
 
 .how h2{
 
     text-align: center;
     font-family: 'Zen Maru Gothic', sans-serif;
     color: #350D00;
     font-size: 40px;
     padding-top: 20px;
 }
 
 .how p{
   
     font-size: 16px;
     text-align: center;
     font-family: 'Zen Maru Gothic', sans-serif;
     color: #350D00;
     line-height: 2em;
     padding: 20px 0px;

 }

  

 .modal{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 1em 0;
  padding: 50px 0;
}

.modal-contents{
    position: relative;
  
 
}

.case-name p{
    font-size:54px;
    transform: rotateZ(-15deg);
    position: absolute;
    top: -75px;
    left: -30px;
    color: #EE731A;
    font-family: 'Caveat', cursive;

}

.modal-link{
    text-decoration: none;

}
.btn {
   
    display: block;
    align-items: center;
    background: FFFDED;
    border: 2px solid #350D00;
    color: #350D00;
    width: 250px;
    height: 250px;
    border-radius: 16px;
    box-sizing: border-box;
    transition-duration: 0.3s;
    text-align: center;
    font-size: 20px;
    line-height: 2em;
}

  .btn p{
      padding-top: 60px;
      font-size: 18px;
      letter-spacing: 0.2em;
      
  }

  .kuwasiku p{
      font-size: 3px;
      padding-top: 20px;
     
  }

  .kuwasiku p:hover{
    color: #ffffff;
  }


  .btn:hover{
    background: #F1883D;
    
    border: 2px solid #ffffff;
  }

  

  .remodal {
    position: relative;
    padding: 25px;
    background-color: #ffffff;

  }
  .remodal img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }
  .remodal-cancel {
    color: #fff;
    background: #350D00;
    width: 20%;
    margin: 25px 550px;
    padding: 12px;
    font-family:'Zen Maru Gothic', sans-serif;
    border-radius: 6px;
  }
  .remodal-cancel:hover {
    background: #EE731A;
    border: 2px solid #ffffff;
  }

.solution{
    background-color:#FFFDED;
    position: relative;
    background-image: url("images/solutions-background.png");
    background-size:contain;
    background-position:0vw 60vh;
    background-repeat: no-repeat;
    width: 1440px;
    height: 1440px;
   
  
}

.solution h1{
    text-align: left;
    font-family: 'Modak', cursive;
    font-size: 140px;
    color: #F1883D;
    opacity: 70%;
    font-weight: normal;
}

 .solution h3{
     text-align: center;
     font-family: 'Zen Maru Gothic', sans-serif;
     color: #F1883D;
     font-size: 24px;
     
 
 }
 
 .solution h2{
 
     text-align: center;
     font-family: 'Zen Maru Gothic', sans-serif;
     color: #350D00;
     font-size: 40px;
     padding-top: 20px;
 }
 
 .solution p{
   
     font-size: 16px;
     text-align: center;
     font-family: 'Zen Maru Gothic', sans-serif;
     color: #350D00;
     line-height: 2em;
     padding: 20px 0px;
     margin-bottom: 60px;

 }

 .solution-card{
    margin-top:80px;
    

 }

 .solution-card .p1 p{

    font-family:  'Zen Maru Gothic', sans-serif;
    font-weight: bold;
    color: #350D00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#FFFDED;
    font-size: 50px;
    text-align: left;
    padding: 260px;
    
 }

 .solution-card .p1-1{
     position: absolute;
     top: 200px;
   }

   .solution-card .p1-2{
    position: absolute;
    top: 540px;
  }
  .solution-card .p1-3{
    position: absolute;
    top: 840px;
  }

 

 
 .solution-card .p2 p{

   
    background-color: #EF9758;
    width: 900px;
    padding: 50px;
    line-height:40px;
    display: block;
    background-repeat: 16px;
    border-top-right-radius:0px;
    border-bottom-left-radius:40px;
    text-decoration: none;
    color: #FFFDED;
    margin: 120px auto;
    text-align: left;
    margin-bottom: 100px;

     
 }

 .last{
     padding: 60px;
     display: flex;
     flex-flow: column;
     justify-content: center;
     background-color: #FFFDED;
     background-image: url(images/last-back-04.png);
     background-size: cover;
 }
 .last h2{
        text-align: center;
        font-family: 'Zen Maru Gothic', sans-serif;
        color: #350D00;
        font-size: 40px;
        padding: 20px;
    }
    
 .last p{
      
        font-size: 16px;
        text-align: center;
        font-family: 'Zen Maru Gothic', sans-serif;
        color: #350D00;
        line-height: 2em;
        padding: 40px 270px 0px;
        width: 800px;
        line-height: 4em;
        margin-bottom: 80px;
       
   
    }

 footer{
     
     margin-bottom: 20px;
 }

 footer p{
     font-size: 12px;
     text-align: center;
     font-family: 'Zen Maru Gothic', sans-serif;
     color: #350D00;
 }

 .fuwatAnime {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
   }
   @-webkit-keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
   }
   @keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
   }

   @media all and (max-width:480px){
    .top{
        width: 480px;
        height: 500px;
        background-size: cover;

    }
    .top-material-img1{
       
        padding-top: 100px;
        
    
    }

    .top-material-img1 img{
        width: 100%;
        height: 100%;
      
    }

    .top-material p{
      
        font-size: 16px;
   
    }
    .top-material-img2 img{
        width: 100%;
    
    }

    .poem{
        width: 480px;
        height: 400px;
        background-size: 80%;
        background-color:#FFFDED;
        background-position: 70px 100px; 
    
    }

    .poem-img1 {
        position: absolute;
        top: 0px;
        left: 60px;
        }

    .poem-img1 img{
        width:80px;
      }
    
    .TextTyping{
        margin: 5px 0;
        font-size: 10px;
        line-height: 2em;
        padding-top: 60px;
     
    }

    .poem-img2{
        position: absolute;
        bottom: 80px;
        right:60px
    
    }
    
    
    .poem-img2 img{
        width:80px;

   }

   .about{
    width: 480px;
    padding-bottom: 40px;
    background-size: contain;
   
   }

   .about h1{
    font-size: 50px;
   }

   .about h3{
    font-size: 16px;
    }

    .about h2{

        font-size: 20px;
        padding-top: 20px;
    }

    .about p{
  
        font-size: 10px;
        padding-top: 20px;
        width: 320px;
        margin: 0 auto;
    }

    .about-bottom{
        padding: 40px 80px;
        
    }

    .about-bottom p{
        text-align: left;
        float: left;
        width:200px;
     
    }
    .about-bottom img{
        width:20%;
        padding-left: 40px;
        padding-top: 50px;
      
    }

    .how{
        width: 480px;

    }

    .how h1{
    font-size: 60px;
    text-align: left;
    padding: 0px 30px;
    
    }
    .how h2{
    font-size: 20px;
    text-align: left;
    padding: 10px 30px;
    }

    .how h3{
     text-align: left;
     padding: 10px 30px;
    }

    .how p{
   
        font-size: 12px;
       
        font-family: 'Zen Maru Gothic', sans-serif;
        color: #350D00;
        line-height: 2em;
        padding: 20px 0px;
        text-align: left;
        padding: 10px 30px;
   
    }

    .case-name p{
        font-size:30px;
        transform: rotateZ(-15deg);
        position: absolute;
        top: -40px;
        left: -20px;
        color: #EE731A;
        font-family: 'Caveat', cursive;
    
    }

    .btn {
   
        display: block;
        align-items: center;
        background: FFFDED;
        border: 2px solid #350D00;
        color: #350D00;
        width: 180px;
        height: 180px;
        border-radius: 16px;
        box-sizing: border-box;
        transition-duration: 0.3s;
        text-align: center;
        line-height: 2em;
        margin: 5px;
    }

    .btn p{
        padding-top: 40px;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-align: center;
        
    }

    .kuwasiku p{
        font-size: 3px;
        padding-top: 5px;
       
    }

    .solution{
        background-position:0vw 60vh;
        width: 480px;
        height: 1000px;
        background-size:200%;
        background-position: 0px 290px;
       
      
    }

    .solution h1{
        font-size: 60px;
        text-align: left;
        
    }

    .solution h3{
    text-align: left;
    padding: 0px 30px;
    }

    .solution h2{
        font-size: 30px;
        text-align: left;
        padding: 10px 30px;
    }

    .solution p{
   
        font-size: 14px;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 60px;
        padding-left:30px;
        padding-right:30px;

        margin-bottom: 60px;
   
    }
    .solution-card{
        margin-top:30px;
     
    }

    .solution-card .p1 p{

   
    font-size: 24px;
    text-align: left;
    padding: 10px;
    
   }

   .solution-card .p1-1{
    position: absolute;
    top: 300px;
  }

  .solution-card .p1-2{
   position: absolute;
   top: 480px;
 }
 .solution-card .p1-3{
   position: absolute;
   top: 650px;
 }

 .solution-card .p2 p{

    font-size: 10px;
    background-color: #EF9758;
    width: 360px;
    padding: 20px;
    line-height:20px;
    display: block;
    background-repeat: no-repeat;
    border-top-right-radius:0px;
    border-bottom-left-radius:20px;
    text-decoration: none;
    color: #FFFDED;
    margin: 60px auto;
    text-align: left;
 
 }  .last h2{
    text-align: left;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #350D00;
    font-size: 30px;
    padding: 20px;
}

.last p{
      
    font-size: 12px;
    text-align: left;
    line-height: 0.3em;
    padding: 20px ;
    width: 360px;
    line-height: 4em;
    margin-bottom: 80px;
    

}
footer p{
    font-size: 12px;
    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #350D00;
}



   

   
    
  
  

}
